<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-sm-10 col-md-7 col-lg-8">
				<h1>Student Enrollment System</h1>
				<p class="lead">ICT Academy, Kerala</p>
			</div>
			<div class="col-sm-10 col-md-5 col-lg-4">
				<img src="../../assets/images/ictak_logo.png" alt="logo" border="0" height="120" style="max-width: 100%;">
			</div>
		</div>
	</div>
	<div class="bs-docs-section clearfix">
		<div class="row">
			<div class="col-sm-10 col-md-8">
				<div class="page-header">
					<h2 style="padding-bottom: 0px;">A portal to tomorrow</h2>
					<h4 style="padding-bottom: 2rem;">Connecting students and recruiters</h4>
				</div>
				<div class="bs-component mb-5">
					<button class="btn btn-lg btn-primary" type="button" routerLink="/register">Join the future now</button>
				</div>
				<div class="bs-component">
					<ul class="list-group col-8">
						<li class="list-group-item d-flex justify-content-between align-items-center">Enrolled Candidates<span class="badge bg-primary rounded-pill">{{ students }}</span></li>
						<li class="list-group-item d-flex justify-content-between align-items-center">Eager Recruiters<span class="badge bg-primary rounded-pill">{{ recruiters }}</span></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-10 col-md-4">
				<img src="../../assets/images/student_model" alt="student model" border="0" style="width: 100%; max-height: 100%;">
			</div>
		</div>
	</div>
</div>